@page {
    size: A4;
    margin: 0;
}

@font-face {
    font-family: 'Marianne';
    src: url("../fonts/marianne/Marianne-Thin.woff2") format("woff2"), url("../fonts/marianne/Marianne-Thin.woff") format("woff");
    font-weight: 200;
    font-style: normal; }
  
  @font-face {
    font-family: 'Marianne';
    src: url("../fonts/marianne/Marianne-Light.woff2") format("woff2"), url("../fonts/marianne/Marianne-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'Marianne';
    src: url("../fonts/marianne/Marianne-Regular.woff2") format("woff2"), url("../fonts/marianne/Marianne-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal; }
  
  @font-face {
    font-family: 'Marianne';
    src: url("../fonts/marianne/Marianne-Medium.woff2") format("woff2"), url("../fonts/marianne/Marianne-Medium.woff") format("woff");
    font-weight: 600;
    font-style: normal; }
  
  @font-face {
    font-family: 'Marianne';
    src: url("../fonts/marianne/Marianne-Bold.woff2") format("woff2"), url("../fonts/marianne/Marianne-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal; }
  
  @font-face {
    font-family: 'Marianne';
    src: url("../fonts/marianne/Marianne-ExtraBold.woff2") format("woff2"), url("../fonts/marianne/Marianne-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal; }

html, body {
    margin: 0;
    padding: 0;
    color: #111;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Marianne", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

.pp__head,
.pp__content {
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
}

.pp__head h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 14vh;
}
.pp__head p {
    text-align: center;
    margin-bottom: 10vh;
}

@media (max-width: 768px) {
    .pp__head,
    .pp__content {
        width: 90%;
    }
    .pp__head h1 {
        margin-top: 10vh;
    }
    .pp__head p {
        margin-bottom: 8vh;
    }
}

.pp__form h2 {
    font-weight: normal;
    font-size: 1rem;
}
    .input__field {
        position: relative;
        display: flex;
        margin-bottom: 20px;
    }
    div[class="input__field"] label {
        display: flex;
        align-items: center;
    }
    .input__field label {
        width: 20%;
    }
    .input__field input,
    .input__field textarea {
        position: relative;
        width: 80%;
        background-color: #f1f4ff;
        padding: 10px 0 15px 0;
        font-size: 1rem;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    .input__field textarea {
        resize: none;
    }
    .input__field input:focus,
    .input__field textarea:focus,
    .input__field input:not([type=radio]):valid,
    .input__field input[type=radio]:checked,
    .input__field textarea:valid {
        background-color: #fff;
    }
    .input__field:not(.input__field--check)::after,
    .input__field--text::before,
    .input__field--text label::after {
        content: "";
        position: absolute;
        bottom: 15px;
        left: 20%;
        right: 0;
        border-bottom: 1px dotted #d1dff6;
        z-index: 10;
    }
    .input__field--text::before {
        bottom: calc(15px + 1rem);
    }
    .input__field--text label::after {
        bottom: calc(15px + 2rem);
    }

    .pp__form > p {
        margin: 2rem 0;
    }

.fields__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
   .input__field--check input {
       position: relative;
       width: 25px;
       height: 25px;
       background-color: #d1dff6;
       border: 1px solid #1b1b1c;
       margin: 0;
       padding: 0;
       -webkit-appearance: none;
       appearance: none;
   }
   .input__field--check input:checked::after {
       content: "✓";
       position: absolute;
       top: 45%;
       left: 50%;
       transform: translate(-50%,-50%);
       font-size: 1.25rem;
       line-height: .5;
       font-weight: bold;
       outline: none;
   }
   .input__field--check label {
       flex: 1;
       width: auto;
        margin-left: 35px;
   }
   .input__field--check label p {
       margin: 0;
   }


.pp__footer {
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
}
   .input__field--inline {
       display: inline-flex;
   }
   .input__field--inline label {
       width: auto;
       white-space: nowrap;
   }
   .input__field--inline input {
       padding: 0 0 2px 0;
       margin: 0 5px;
   }
   .input__field.input__field--inline::after {
        left: calc(20% + 4px);
        right: 5px;
        bottom: 4px;
   }
   .input__field--file {
       width: 100%;
       flex-direction: column;
       align-items: flex-end;
   }
   .input__field--file label {
       text-align: right;
   }
   .input__field--file input {
       border: none;
       padding: 0;
       text-align: right;
       width: auto;
       color: transparent;
       width: 135px;
   }
   .input__field.input__field--file::after {
       content: none;
   }
   .input__sep {
       margin-right: 5px;
   }
   .sign__preview {
       width: 125px;
   }
    .sign__preview img {
        width: 100%;
        max-height: 150px;
        object-fit: contain;
    }

@media (max-width: 768px) {
    .input__field:not(.input__field--check):not(.input__field--inline) label {
        width: 32.5%;
        min-width: 32.5%;
    }
    .input__field:not(.input__field--inline) input:not([type=radio]) {
        width: 67.5%;
        padding-bottom: 5px;
    }
    .input__field:not(.input__field--check)::after, 
    .input__field--text::before, 
    .input__field--text label::after {
        left: 32.5%;
    }
    .input__field:not(.input__field--check):not(.input__field--inline) input, 
    .input__field textarea {
        padding-top: 5px;
    }
    .input__field textarea {
        padding-bottom: 5px;
    }
    .input__field--check label {
        margin-left: 25px;
    }
    .input__field--text label::after {
        bottom: calc(12px + 2rem);
    }
    .input__field--text::before {
        bottom: calc(10px + 1rem);
    }
    .input__field:not(.input__field--check)::after {
        bottom: 7px;
    }   
    .input__field.input__field--inline::after {
        bottom: 5px;
    }
    .input__field--inline input[type=date] {
        width: 125px;
    } 
    .input__field--inline:nth-child(1)::after {
        left: 50px;
    }
    .input__field--inline:nth-child(3)::after {
        left: 20px;
    }
    .input__sep {
        display: none;
    }
    .sign__preview {
        width: 85px;
    }
    .input__field.input__field--file input {
        width: 135px !important;
    }
}

.signpad,
.informations {
    display: none;
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    z-index: 15;
    padding: 15px;
}
.informations {
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 25%;
}
.signpad.is-open {
    display: block;
}
.informations.is-open {
    display: flex;
}
    .open__signpad {
        font-size: 1rem;
        width: 135px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .has-tapped .informations__opener,
    .has-tapped .open__signpad,
    .has-tapped .input__field--file input,
    .has-tapped .print {
        display: none;
    }
    .signpad canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    .signpad__close,
    .informations__close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
        background-color: #fff;
        padding: 0;
        border: 0;
        cursor: pointer;
        user-select: none;
        z-index: 5;
    }

    .signpad__actions {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        user-select: none;
    }
        .signpad__actions button {
            font-size: 1.35rem;
            cursor: pointer;
        }

.more__actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.print,
.informations__opener {
    font-size: 2rem;
    color: #2234b9;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.print {
    margin-right: 20px;
}

[class^="icon--"] {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon--print {
    background-image: url("../img/print.svg");
}
.icon--info {
    background-image: url("../img/info.svg");
}

@media (max-width: 768px) {
    .signpad, .informations {
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
    }
    .informations {
        padding: 15px 20px;
    }
    .signpad__actions {
        width: 100%;
        text-align: center;
    }
    .signpad__actions button {
        font-size: 1.25rem;
    }
}

@media print {
    .pp__head, 
    .pp__content {
        width: 90%;
        max-width: none;
    }

    .pp__head h1 {
        margin-top: 4rem;
    }
    .pp__head p {
        margin-bottom: 3rem;
    }

    .pp__form > p {
        margin: 0 0 2rem 0;
    }
    .input__field {
        margin-bottom: 15px;
    }

    .pp__footer {
        margin: 1rem 0 0 0;
    }

    .informations__opener,
    .open__signpad,
    .input__field--file input,
    .print {
        display: none;
    }
}